body {
    background-image: url('./assets/planet-cartoon-space-background.jpeg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Stellar';
  }/* You can add global styles to this file, and also import other style files */
